version: "3.8"

services:
  airflow:
    build:
      context: .
      dockerfile: docker/airflow_doc/Dockerfile
    container_name: airflow
    ports:
      - "8082:8080"
    environment:
      AIRFLOW__CORE__DAGS_FOLDER: /opt/airflow/dags
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__BASE_URL: http://localhost:8082
    command: ["airflow", "standalone"]
    restart: unless-stopped